sqlalchemy
python-dotenv
pytz
psycopg2-binary
yfinance
pandas
pandas_ta
git+https://github.com/twopirllc/pandas-ta.git
numpy
openpyxl
smartapi-python
logzero
websocket-client
websockets
pyotp
dhanhq==2.1.0
requests